* text=auto eol=lf

*.java text eol=lf
*.xml text eol=lf
*.target text eol=lf
*.properties text eol=lf
*.MF text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf

*.jar binary
*.zip binary
*.png binary
